body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.projSect {
    padding: 3rem 5rem;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.2rem;
    min-height: 80vh;
    max-width: 1440px;
    margin: auto;
}

.projSect h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.projs {
    width: 100%;
    padding: 3rem 0rem;
    /* background-color: yellow; */
    background-color: var(--white-clr);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.blocks {
    width: 48%;
    /* height: 19rem; */
    padding: 0 0rem 1.5rem;
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    row-gap: 1.2rem;
    box-shadow: 0px 2px 14px 0px #67676730;
    overflow: hidden;
}








/* .blocks:nth-child(2n) {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.blocks:nth-child(3n) {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
} */

.blocks .text_content,
.blocks .text_content * {
    transition: all .45s linear;
}

.blocks .text_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 18px;
}

.blocks h3 {
    font-size: 1.35rem;
    font-family: var(--font-primary);
    font-weight: 400;
    cursor: context-menu;
}

.blocks p {
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    cursor: context-menu;
    max-height: 55px;
    overflow: hidden;
}

.blocks p.extendedHeight {
    max-height: 700px;
}

.blocks .read_more_btn {
    border: 0;
    outline: 0;
    width: fit-content;
    background: none;
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    cursor: pointer;
}

.blocks .read_more_btn:hover {
    color: var(--prim-clr);
}

.blocks img {
    /* width: 88%; */
    width: 100%;
    border-bottom: 1px solid #0000002e;
}

.twoBtns {
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
}

.twoBtns a {
    text-decoration: none;
    color: var(--black-clr);
    font-size: 1.02rem;
    font-family: var(--font-secondary);
}

.twoBtns a:first-child {
    padding-right: 25px;
    border-right: 2px solid black;
}

.twoBtns a:last-child {
    padding-left: 25px;
}

.twoBtns a:hover {
    text-decoration: underline;
}


/* ------------------ Media Queries ------------------ */

@media only screen and (min-width: 1100px)and (max-width: 1380px) {
    .blocks {
        width: 47%;
    }
}

@media only screen and (min-width: 768px)and (max-width: 1024px) {
    /* body {
        background-color: pink;
    } */

    .projSect {
        padding: 3rem 3rem;
    }

    .projs {
        gap: 40px;
        justify-content: space-between;
    }

    .blocks {
        /* width: 31%; */
        width: 47%;
    }

    .blocks h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 596px)and (max-width: 767px) {
    /* body {
        background-color: pink;
    } */

    .projSect {
        padding: 3rem 2rem;
    }

    .projs {
        gap: 1.5rem;
        justify-content: center;
    }

    .blocks {
        width: 88%;
    }

    .blocks h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 426px)and (max-width: 595px) {
    /* body {
        background-color: pink;
    } */

    .projSect {
        padding: 3rem 2rem;
        min-height: 80vh;
        row-gap: 1rem;
    }

    .projSect h2 {
        font-size: 2rem;
    }

    .projs {
        gap: 2.5rem;
        justify-content: center;
    }

    .blocks {
        width: 88%;
    }

    .blocks h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 321px) and (max-width: 425px) {
    /* body {
        background-color: pink;
    } */

    .projSect {
        padding: 3rem 1rem;
        min-height: 80vh;
        row-gap: 1rem;
    }

    .projSect h2 {
        font-size: 2rem;
    }

    .projs {
        gap: 2.5rem;
        justify-content: center;
    }

    .blocks {
        width: 88%;
    }

    .blocks h3 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 320px) {
    /* body {
        background-color: pink;
    } */

    .projSect {
        padding: 3rem .5rem;
        min-height: 80vh;
        row-gap: 1rem;
    }

    .projSect h2 {
        font-size: 2rem;
    }

    .projs {
        gap: 2.5rem;
        justify-content: center;
    }

    .blocks {
        width: 88%;
    }

    .blocks h3 {
        font-size: 1.3rem;
    }
}