@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;500&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,700&family=Roboto:wght@300;500;700&display=swap');

:root {
    font-size: 16px;
    --prim-clr: #1e42ff;
    --nav-clr: #FFF6F6;
    /* --half-white: #FFFFEC; */
    --half-white: #f5f5f5;
    --selection-clr: #ff6161;
    --grey-clr: grey;
    --black-clr: black;
    --white-clr: white;
    --font-primary: 'Outfit';
    --font-secondary: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--selection-clr);
    color: var(--white-clr);
}


/* ------------------- Scroll Bar ------------------- */

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: var(--prim-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--prim-clr);
}


/* ---------------------- Header---------------------- */

header {
    background-color: var(--nav-clr);
    width: 100%;
}

.header {
    z-index: 999;
}

.header,
.resp-head {
    animation: 2s linear 0s 1 headerFade;
    padding: 0rem 5rem;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    height: 6rem;
    /* background-color: var(--nav-clr); */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes headerFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header h1,
.resp-head h1 {
    font-family: raleway;
    font-size: 2rem;
}

.header h1 a,
.resp-head h1 a {
    text-decoration: none;
    color: var(--prim-clr);
}

.header nav ul {
    display: flex;
    column-gap: 6rem;
    /* background-color: cyan; */
}

nav li,
.resp-nav li {
    list-style: none;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    cursor: pointer;
}

nav li a,
.resp-nav li a {
    color: var(--black-clr);
    text-decoration: none;
    transition: all .35s ease-in-out;
}

nav li a.active {
    color: var(--prim-clr);
}

nav li a:hover,
.resp-nav li a:hover {
    color: var(--prim-clr);
    transition: all .35s ease-in-out;
}

nav li a.active,
.resp-nav li a.active {
    color: var(--prim-clr);
}

.resp-head {
    /* display: flex; */
    display: none;
    /* padding: 40px 15px; */
    padding: 0px 15px 40px;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .4s;
    gap: 25px 0;
}

.head-sec {
    width: 80%;
    display: flex;
    padding: 40px 0 0;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-clr);
    position: relative;
    z-index: 999;
}


.resp-nav,
.resp-nav * {
    transition: all .45s ease-in-out;
}

.resp-nav {
    display: flex;
    flex-direction: column;
    transition: all .4s;
    margin-top: -150px;
    opacity: 0;
}

.toggleBtn {
    font-size: 1.8rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 12px;
    background-color: var(--prim-clr);
    color: var(--white-clr);
    border: 0;
    outline: 0;
    cursor: pointer;
}


/* ---------------------- Hero Section ---------------------- */
.heroSection {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    /* height: 34rem; */
    height: 90vh;
    /* background-color: gray; */
    padding: 0rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    /* height: 34vh; */
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1.4rem;
}

.name {
    font-size: 2.6rem;
    font-family: Outfit;
    text-transform: uppercase;
}

.role {
    font-size: 2rem;
    font-family: Poppins;
    color: var(--prim-clr);
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    font-size: 1.8rem;
    color: var(--grey-clr);
    cursor: pointer;
    transition: all .4s;
}

.icons a:not(a:first-child) {
    margin-left: 1.5rem;
}

.icons a:hover {
    color: var(--prim-clr);
}

.downloadBtn {
    padding: 0.89rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 12px;
    font-family: var(--font-secondary);
    font-size: 1.01rem;
    background-color: var(--prim-clr);
    font-weight: 500;
    cursor: pointer;
    transition: border-radius .6s;
}

.downloadBtn a {
    text-decoration: none;
    color: white;
}

.downloadBtn:hover {
    border-radius: 35px;
}

.right {
    width: 50%;
    height: 32rem;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    width: 25rem;
}

.h2Head {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
}


/* ---------------------- About Us ---------------------- */
.about-cont {
    width: 100%;
    background-color: var(--half-white);
    /* background-color: aqua; */
}

.about {
    max-width: 1440px;
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    row-gap: 1.5rem;
    align-items: center;
    flex-direction: column;
    padding: 4rem 5rem;
}

.aboutText {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.23rem;
    line-height: 2rem;
}


.aboutText p {
    text-align: center;

}


/* ---------------------- Skills ---------------------- */
.skills {
    /* background-color: #00A600; */
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 5rem;
    /* background: var(--white-clr); */
}

.boxContainer {
    width: 100%;
    padding: 3rem 0rem;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.boxes {
    width: 30%;
    padding: 1.2rem 0;
    /* background-color: var(--white-clr); */
    background-color: var(--half-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 12px;
    /* border-bottom: 3px solid #5959ff; */
    box-shadow: 0px 2px 12px 0px #94949440;
    transition: all .4s ease-in-out;
}

.boxes:hover {
    transform: scale(1.03);
}

.boxes:nth-child(1) {
    border-bottom: 3px solid #EE6628;
}

.boxes:nth-child(2) {
    border-bottom: 3px solid #208DB8;
}

.boxes:nth-child(3) {
    border-bottom: 3px solid #ffe437;
}

.boxes:nth-child(4) {
    border-bottom: 3px solid #7B11F8;
}

.boxes:nth-child(5) {
    border-bottom: 3px solid #0773B4;
}

.boxes:nth-child(6) {
    border-bottom: 3px solid #6FA761;
}

.boxes:nth-child(7) {
    border-bottom: 3px solid #232323;
}

.boxes:nth-child(8) {
    border-bottom: 3px solid #07B6D5;
}

.boxes:nth-child(9) {
    border-bottom: 3px solid #777BB3;
}

.boxes:nth-child(10) {
    border-bottom: 3px solid #e5920d;
}

.boxes:nth-child(11) {
    border-bottom: 3px solid #f05033;
}

.boxes:nth-child(12) {
    border-bottom: 3px solid #000000;
}

.boxes:nth-child(13) {
    border-bottom: 3px solid #2EA0F2;
}

.boxes:nth-child(14) {
    border-bottom: 3px solid #2D3039;
}

.boxes:nth-child(15) {
    border-bottom: 3px solid #21759B;
}

.boxes:nth-child(16) {
    border-bottom: 3px solid #5E8F3E;
}

.boxes:nth-child(17) {
    border-bottom: 3px solid #F90000;
}

.boxes img {
    width: 7rem;
}

.boxes span {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: context-menu;
}


/* ---------------------- Footer ---------------------- */
.footer-cont {
    width: 100%;
    background-color: var(--nav-clr);
}

footer {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 5rem;
    width: 100%;
    /* height: 6rem; */
    /* background-color: var(--nav-clr); */
    /* background-color: rgb(255, 96, 96); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrights span {
    font-family: var(--font-secondary);
    font-size: 1rem;
}

.footerLogo h2 {
    font-family: raleway;
    font-size: 2rem;
    cursor: context-menu;
}

.footerLogo h2 a {
    text-decoration: none;
    color: var(--prim-clr);
}

.socials {
    display: flex;
    align-items: center;
}

.socials a {
    font-size: 1.8rem;
    color: var(--grey-clr);
    cursor: pointer;
    transition: all .6s;
}

.socials a:not(a:first-child) {
    margin-left: 2rem;
}

.socials a:hover {
    color: var(--prim-clr);
}


/* ---------------------- Scroll to Top Button ---------------------- */

.to-top {
    width: 55px;
    height: 55px;
    border: 0;
    outline: 0;
    /* background-color: magenta; */
    background-color: var(--prim-clr);
    color: var(--white-clr);
    z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 35px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

.active {
    opacity: 1;
    bottom: 50px;
    pointer-events: auto;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~ Media Queries ~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~ tablets and big screens ~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 1025px)and (max-width: 1250px) {
    /* body {
        background-color: magenta;
    } */

    .name {
        font-size: 2rem;
    }

    .right img {
        width: 23rem;
    }

    .boxContainer {
        gap: 2rem;
    }
}


/* ~~~~~~~~~~~~~~~~~ tablets and big screens ~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 768px)and (max-width: 1024px) {
    /* body {
        background-color: cyan;
    } */

    .header {
        padding: 0rem 2rem;
    }

    .header nav ul {
        column-gap: 4rem;
    }

    .left {
        width: 60%;
    }

    .right {
        width: 40%;
    }

    .heroSection {
        padding: 0rem 2rem;
    }

    .name {
        font-size: 1.6rem;
    }

    .role {
        font-size: 1.5rem;
    }

    .downloadBtn {
        padding: 0.8rem 2.2rem;
    }

    .right img {
        width: 19rem;
    }

    .h2Head {
        font-size: 2rem;
    }

    .about {
        row-gap: 4rem;
        padding: 3.2rem 2rem;
    }

    .skills {
        padding: 3rem 2rem;
    }

    .boxContainer {
        gap: 2rem;
    }

    .boxes {
        padding: 1.2rem 0;
    }

    .boxes img {
        width: 4.5rem;
    }

    footer {
        padding: 2rem 2rem;
    }
}


@media (min-width: 596px) and (max-width: 768px) {
    .copyrights span {
        font-size: .8rem;
    }

    .footerLogo h2 {
        font-size: 1.5rem;
    }

    .socials i {
        font-size: 1.3rem;
    }

    .socials i:not(i:first-child) {
        margin-left: 1.8rem;
    }
}

/* ~~~~~~~~~~~~~~~~~ large level mobile devices ~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 596px)and (max-width: 767px) {
    /* body {
        background-color: green;
    } */

    .header {
        padding: 0rem 2rem;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .header nav ul {
        column-gap: 3rem;
    }

    .heroSection {
        padding: 0rem 2rem;
        height: 90vh;
    }

    .left {
        height: 24vh;
    }

    .name {
        font-size: 1.27rem;
    }

    .role {
        font-size: 1.3rem;
    }

    .icons i {
        font-size: 1.5rem;
    }

    .downloadBtn {
        padding: 0.7rem 1.5rem;
    }

    .right {
        height: auto;
    }

    .right img {
        width: 90%;
    }

    .h2Head {
        font-size: 2rem;
    }

    .about {
        row-gap: 4rem;
        padding: 3.2rem 2rem;
    }

    .skills {
        padding: 3rem 2rem;
    }

    .boxContainer {
        gap: 1.6rem;
    }

    .boxes {
        width: 43%;
        padding: 1.2rem 0;
    }

    .boxes img {
        width: 4.5rem;
    }

    .copyrights span {
        font-size: .8rem;
    }

    .footerLogo h2 {
        font-size: 1.5rem;
    }

    .socials i {
        font-size: 1.3rem;
    }

    .socials i:not(i:first-child) {
        margin-left: 1.8rem;
    }
}


/* ~~~~~~~~~~~~~~~~~ medium level mobile devices ~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 426px)and (max-width: 595px) {
    /* body {
        background-color: green;
    } */

    .header {
        display: none;
    }

    .resp-head {
        display: flex;
        height: auto;
        padding: 0px 15px 25px;
    }

    .resp-nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .heroSection {
        padding: 0rem 1.3rem;
        min-height: 90vh;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }

    .left {
        width: 80%;
        height: auto;
        align-items: center;
        row-gap: 12px;
    }

    .name {
        font-size: 1.5rem;
    }

    .role {
        font-size: 1.4rem;
    }

    .icons i {
        font-size: 1.5rem;
    }

    .downloadBtn {
        padding: 0.8rem 1.2rem;
        font-size: .89rem;
    }

    .right {
        width: 80%;
        height: auto;
        justify-content: center;
    }

    .right img {
        width: 78%;
    }

    .h2Head {
        font-size: 2rem;
    }

    .about {
        row-gap: 4rem;
        padding: 3.2rem 1.3rem;
    }

    .aboutText {
        line-height: 2.2rem;
        font-size: 1.15rem;
    }

    .skills {
        padding: 3rem 1.3rem;
    }

    .boxContainer {
        gap: 1.6rem;
    }

    .boxes {
        width: 43%;
        padding: 1.2rem 0;
    }

    .boxes img {
        width: 3.5rem;
    }

    footer {
        /* height: 14rem; */
        padding: 2rem 1.3rem;
        gap: 1.5rem;
        flex-direction: column;
    }

    .to-top {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


/* ~~~~~~~~~~~~~~~~~ small level mobile devices ~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 321px) and (max-width: 425px) {
    /* body {
        background-color: blueviolet;
    } */

    .header {
        display: none;
    }

    .resp-head {
        display: flex;
        height: auto;
        padding: 0px 15px 25px;
    }

    .resp-nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .head-sec {
        width: 80%;
        padding: 25px 0 0;
    }

    .head-sec h1 {
        font-size: 1.9rem;
    }

    .toggleBtn {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .heroSection {
        padding: 0 1.3rem;
        min-height: 90vh;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }

    .left {
        width: 100%;
        height: auto;
        align-items: center;
        row-gap: 12px;
    }

    .name {
        font-size: 1.3rem;
    }

    .role {
        font-size: 1.25rem;
    }

    .icons i {
        font-size: 1.3rem;
    }

    .icons i:not(i:first-child) {
        margin-left: 1rem;
    }

    .downloadBtn {
        padding: 0.6rem 1.1rem;
        font-size: .85rem;
    }

    .right {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .right img {
        width: 78%;
    }

    .h2Head {
        font-size: 2rem;
    }

    .about {
        row-gap: 1.5rem;
        padding: 3.2rem 1.3rem;
    }

    .aboutText {
        line-height: 2rem;
        font-size: 1rem;
    }

    .skills {
        padding: 3rem 1.3rem;
    }

    .boxContainer {
        gap: 1.5rem;
    }

    .boxes {
        width: 80%;
        padding: 1.2rem 0;
    }

    .boxes img {
        width: 3.5rem;
    }

    .boxes span {
        font-size: 1rem;
    }

    footer {
        padding: 2rem 1.3rem;
        gap: 1.5rem;
        flex-direction: column;
    }

    .copyrights span {
        font-size: 1rem;
        text-align: center;
    }

    .footerLogo h2 {
        font-size: 1.5rem;
    }

    .socials i {
        font-size: 1.3rem;
    }

    .to-top {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


/* ~~~~~~~~~~~~~~~~~ last ~~~~~~~~~~~~~~~~~ */

@media (max-width: 320px) {
    /* body {
        background-color: blueviolet;
    } */

    .header {
        display: none;
    }

    .resp-head {
        display: flex;
        height: auto;
        padding: 0px 15px 25px;
    }

    .head-sec {
        width: 90%;
        padding: 25px 0 0;
    }

    .head-sec h1 {
        font-size: 1.2rem;
    }

    .toggleBtn {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        border-radius: 6px;
    }

    .resp-nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .resp-nav li {
        font-size: 1rem;
    }

    .heroSection {
        padding: 0 1.3rem;
        min-height: 90vh;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }

    .left {
        width: 100%;
        height: auto;
        align-items: center;
        row-gap: 12px;
    }

    .name {
        font-size: 1.3rem;
    }

    .role {
        font-size: 1.25rem;
    }

    .icons i {
        font-size: 1.2rem;
    }

    .icons i:not(i:first-child) {
        margin-left: 1rem;
    }

    .downloadBtn {
        padding: 0.6rem 1.1rem;
        font-size: .85rem;
    }

    .right {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .right img {
        width: 78%;
    }

    .h2Head {
        font-size: 2rem;
    }

    .about {
        row-gap: 4rem;
        padding: 3.2rem 1.3rem;
    }

    .aboutText {
        line-height: 2rem;
        font-size: 1rem;
    }

    .skills {
        padding: 3rem 1.3rem;
    }

    .boxContainer {
        gap: 1.5rem;
    }

    .boxes {
        width: 80%;
        padding: 1.2rem 0;
    }

    .boxes img {
        width: 3.5rem;
    }

    .boxes span {
        font-size: 1rem;
    }

    footer {
        padding: 2rem 1.3rem;
        gap: 1.5rem;
        flex-direction: column;
    }

    .copyrights span {
        font-size: 1rem;
        text-align: center;
    }

    .footerLogo h2 {
        font-size: 1.5rem;
    }

    .socials i {
        font-size: 1.3rem;
    }

    .to-top {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


/*  >>>>>>>>>>>>>>> Scroll Animation  */
.hidden {
    opacity: 0;
    transition: all .8s linear;
    pointer-events: none;
    position: relative;
    top: 80px;
}

.show {
    opacity: 1;
    pointer-events: auto;
    position: relative;
    top: 0;
}


/* >>>>>>>>>>>>>>>>>>>>>>>> LENIS Rec CSS */

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> ENDS LENIS Rec CSS */